{% extends 'base.html' %} 



 {% block titulo %}

 {% endblock  %} 
 
 {% block content  %}
 <header class="bg-primary text-white text-center py-3">
  <h1>Gerenciamento de Finanças Pessoais</h1>
</header>

<div class="container mt-5">
  <section>
      <h2>Orçamento Mensal</h2>
      <p>Aqui você pode acompanhar seu orçamento mensal e controlar suas despesas e receitas.</p>
  </section>

  <section>
      <h2>Economia e Investimentos</h2>
      <p>Saiba como fazer investimentos inteligentes e economizar dinheiro para o futuro.</p>
  </section>

  <section>
      <h2>Redução de Dívidas</h2>
      <p>Dicas para reduzir suas dívidas e melhorar sua saúde financeira.</p>
  </section>

  <section>
      <h2>Poupança e Planejamento</h2>
      <p>Aprenda a criar um plano de poupança e definir metas financeiras.</p>
  </section>
</div>

{% endblock  %}