{% extends 'base.html' %} 
{% load crispy_forms_tags %}

 
 {% block content  %}
 <div class="row p-5">
    <div class="col-md-10 mx-auto p-2 ">
        <h1 class="text-dark text-center p-2 border-bottom">Transações Financeiras- Receitas</h1>
        <form>
          <div class="input-group mt-2 p-2">
            <input type="text" name='pesquisa_name' class="form-control" placeholder="Pesquisar por Receitas ... ">
            <div class="input-group-append mr-2">
              <button class="btn btn-success btn" type="submit">Pesquisar Receitas</button>
            </div>
          </div>
          </form>

          <div class="d-grid gap-3 p-2 d-md-flex justify-content-md-start ">
            <a href="{% url "financeiro:cadastro" %}">
            <button class="btn btn-outline-primary btn-sm" type="button">Adicionar Nova Receita</button>
            </a>
          </div>
      

      

          <h2 class="text-center">Listas Receitas</h2>
          <div class="table-responsive bg-ligth  shadow-lg p-2 mb-5 ">
  
            <table class="table table-sm table-hover table-bordered border border-5">
              <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor</th>
                <th scope="col">Data</th>
                <th scope="col">Tipo Transação</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            
    <tbody>
        {% for l in lista %}
        <tr class="table-success">
                <td>{{ l.description }}</td>
                <td>{{ l.category }}</td>
                <td>R$ {{ l.amount }} <i class="bi bi-arrow-up"> </td>
                <td>{{ l.transaction_date }}</td>
                <td>{{ l.transaction_type}}</td>
                  <td>
                    <a href="{% url "financeiro:update_transacao" l.pk %}">
                   <button type="button" class="btn btn-sm btn-outline-primary">Editar <i class="bi bi-pencil"></i></button></a>   
                   
                   <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#modal{{ l.pk }}" >Excluir <i class="bi bi-trash3"></i></button> 
                   <!-- Modal -->
                       <div class=" shadow-lg p-3 mb-5  rounded modal fade" id="modal{{ l.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                         <div class="modal-dialog " role="document">
                           <div class="modal-content ">
                             <div class="modal-header text-center align-items-center p-1 ">
                               <h4 class="modal-title text-danger w-100 " id="exampleModalLabel">Exclusão </h4>
                               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                               </button>
                             </div>
                             <div class="modal-body ">
                              <h6 class='text-center'> Deseja Realizar a Exclusão do - <strong class= 'text-danger'>"{{ l.description}}" ?</strong></h6>  
                             </div>
                             <div class="modal-footer d-flex justify-content-center">
                               <form method="post" action="{{ l.get_delete_url }}">
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-danger btn-sm ">Excluir </button>
                               </form>
                               <button type="button" class="btn btn-secondary btn-sm ml-3 " data-dismiss="modal">Fechar</button>
                           </div>
                           
                           </div>
                         </div>
                       </div>
                </td>
              </tr>
        {% empty%}
            <tr>
                <td colspan=" 5">Nenhum campo registrado</td>
            </tr>
        {% endfor %}
        
    </tbody>
    </table>
  </div>
    </div>
</div>

  {% endblock  %} 