{% extends 'base.html' %} 
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto">
        <h2 class="text-center">Transações</h2>
        <hr>
        <h3 class="text-center">Search</h3>
        <input class="form-control" type="text" value="Pesquisar Transação..." aria-label="readonly input example" readonly>
        <hr>
        <a href="{% url "financeiro:cadastro" %}" class="btn btn-outline-primary">Adicionar Transação</a>
        <table class='table table-sm table-dark table-striped table-bordered table-condensed table-hover'>
          <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor</th>
                <th scope="col">Data</th>
                <th scope="col">Tipo Transação</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            
    <tbody>
        {% for transacao in object_list %}
          {% if transacao.transaction_type == 'Despesas' %}
        <tr class="table-danger">
          {% else %}
            <tr class="table-success">
        {% endif %}

            

                <td>{{ transacao.description }}</td>
                <td>{{ transacao.category }}</td>
                <td>{{ transacao.amount }}</td>
                <td>{{ transacao.transaction_date }}</td>
                <td>{{ transacao.transaction_type}}</td>
                <td><div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Opções
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url "financeiro:update_transacao" transacao.pk %}">Editar</a></li>
                      <li><a class="dropdown-item" href="{% url "financeiro:excluir_transacao" transacao.pk %}">Excluir</a></li>
                    </ul>
                  </div>
                </td>
              </tr>

        {% empty %}
            <tr>
                <td colspan="5">Nenhum campo registrado</td>
            </tr>
        {% endfor %}
        
    </tbody>
    </table>
    </div>
</div>
{% endblock %}
