
{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<div class="row">
  <div class="col-md-8 mx-auto">
    <h2> <i class="bi bi-person-bounding-box"></i><small class="border-start-0" "text-dark" "text-center" >Atualizar Cadastro</small></h2>
      <h3>Olá:  {{ request.user|upper }} </h3>
<hr>
<form action="" method = "POST">
    {% csrf_token %}
    {{ form|crispy }}

  <button type="submit" class="btn btn-primary">Atualizar</button><br>

</form>
  </div>
</div>


{% endblock %}