
{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}


<div class="row">
  <div class="col-md-8 mx-auto">
      <h2> <i class="bi bi-bag-fill"></i><small class="border-start-0" "text-dark" "text-center" >AUTENTICAÇÃO USUÁRIO</small></h2>
      <hr>
    <form action="" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
        <label class="form-check-label" for="flexCheckChecked">
          Lembra-me
        </label>
      </div>
      
     
      <button type="submit" class="btn btn-primary">Acessar Sistema</button>
      <a href="{% url "usuario:cadastro_user" %}" class="link-primary">Fazer Cadastro</a>
    </form>
  </div>
</div>


{% endblock %}